.left {
    text-align: start;
}


.border {
    border: 3px solid black;
    margin: 10px;
    margin-right: 1%;
}


.container-width {
    width: 100%;
}

.top {
    margin-top: 10px;
}

.bottom {
    margin-bottom: 10px;
}